nav {
    background-color: red; 
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: top; 
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 25px; 
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: black; 
}

section ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section ul li {
    display: vertical;
    align-items: center; ;
    margin-bottom: 15px;
}

section ul li img {
    margin-right: 15px;
    border-radius: 5px;
}

section ul li {
    font-size: 20px;
    color: #333;
}